*{
    margin: 0;
    padding: 0;
}
@media screen {
body {
    background-color:#f9f9f9; 
}

.upper-content{
    position: relative;
    top: 0;
    width: 100%;
    height: 60px;
    background-color: #0080FF;
}

h3{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15pt;
}
#sala{
    padding-top: 15px;
    padding-left: 5px;
    width: 142px;}
#nome{
    position: relative;
    left: 40%; 
    top: -21px;
    width: 200px;
}
#sair{
    position: relative;
    float: right; 
    top: -63px;
    width: 60px;
    height: 60px;
}

#voltar {
    position: relative;
    float: right; 
    top: -62px;
    width: 60px;
    height: 60px;
}
#voltar img{
    width: 60px;
    height: 60px;
}
#sair img{
    width: 60px;
    height: 60px;
}

.barra{
    background-color: #333;
    height: 300px;
    width: 300px;
    position: absolute;
    transition: all .2s linear;  
    top: 60px; 
}


.barra{
    background-color: #333;
    height: 600px;
    width: 20%;
    position: absolute;
    transition: all .2s linear;  
    top: 60px; 
}
.right-content{
    position: relative;
    right: -47px;
    float: right;
    width: 77%;
    height: 599px;
}
.right-content iframe{
    width: 100%;
    height: 100%;
}
}
.link{
    background-color: #494950;
    padding: 20px;
    font-family:Arial, Helvetica, sans-serif ;
    font-size: 12pt;
    transition: all .2s linear;
    color: #f4f4f9;
    border-bottom: 2px solid #222;
    
}
.link:hover{
    background-color: #050542;   
}

.right-content{
    position: relative;
    top: -1px;
    width: 75%;
}

















@media (max-width: 480px) {
    body {
        background-color: #f9f9f9; 
    }  
    
    }
